*/WiredTigerLog.*
*/WiredTigerPreplog.*
*.lock
*.lock
*.wt
*.bson
mongodb-compass/
*.zip
*/MongoDB


MainFolder/Pruefung/Server
MainFolder/8_Aufgabe/MongoDB
MainFolder/EideststattlicheErklaerung.pdf
MainFolder/Pruefung/DB/data
MainFolder/8_Aufgabe/MongoDB/Aufgabe8DB/Aufgabe8DB.rar
MainFolder/8_Aufgabe/MongoDB/Aufgabe8DB/data/db/journal/WiredTigerLog.0000000001

node_modules


