*/WiredTigerLog.*
*/WiredTigerPreplog.*
MainFolder/8_Aufgabe/MongoDB/Aufgabe8DB/data/db/journal/WiredTigerLog.0000000001
*.lock
*.lock
MainFolder/8_Aufgabe/MongoDB/Aufgabe8DB/Aufgabe8DB.rar
*.wt
*.bson
MainFolder/Pruefung/DB/data
mongodb-compass/
*.zip
MainFolder/EideststattlicheErklaerung.pdf
