#console {
    width: 500px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    background-color: rgb(29, 29, 29);
    color: white;
    overflow: scroll;
    overflow-x: hidden;
    padding-right: 5px;
    padding-left: 5px;
    font-size: 12pt;
    border-radius: 5px;
}

#mainContener {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20pt;
}

@media (max-width: 800px) {
    #mainContener {
    width:auto;
    margin-left: 0;
    margin-right: 0;

}}

body {
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
}

#links {
    width: 400px;
}

#links a {
    width: 350px;
    height: 40px;
    text-decoration: none;
    color: whitesmoke;
    font-size: 15pt;
    line-height: 2;
    display: inline-block;
    vertical-align: middle;
    background-color: rgb(32, 32, 32);
    margin-top: 10px;
    text-align: center;
    border-radius: 8px;
}

#links a:hover {
    background-color: rgba(66, 66, 66, 0.993);
}
p {
    font-size: 12pt;
    margin: 5px 0px 5px 0px; 
}