body {

    background-image: linear-gradient(to bottom, rgb(53, 14, 58)50%, rgb(96, 29, 105)100%);
    background-color: rgb(96, 29, 105);
    background-repeat: no-repeat;
    font-family: 'Encode Sans', sans-serif;
}

footer {

    bottom: 10px;
    padding: 10px 10px 10px 10px;
    width: calc(100% - 20px);
}

@media (min-width: 1000px) {
    main {
        width: 800px;

    }
}

@media (max-width: 1000px) {
    main {
        width: 80%;
    }
}

main {
    display: flex;
    background-color: rgb(199, 158, 96);
    margin: auto;
    margin-top: 250px;
    margin-bottom: 200px;
    box-shadow: 5px 5px 0px 0px rgb(156, 109, 37);
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 100px;
}

form {
    margin-top: 50px;
    margin-bottom: 50px;
}

.field {
    border-radius: 8px;
    box-shadow: 5px 5px 0px 0px rgb(156, 109, 37);
    background-color: rgb(199, 158, 96);
    padding: 5px;
    margin: 5px;
}

#date_local_input {
    border: none;
    border-radius: 8px;
    background-color: rgb(255, 216, 158);
    padding: 2px;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 80%;
    margin: auto;
}

footer #links {

    float: left;
}

footer #links a {
    text-decoration: none;
    color: black;
    font-size: 12pt;
    line-height: 1.5;
    background-color: rgb(199, 158, 96);
    text-align: center;
    border-radius: 8px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 5px 5px 0px 0px rgb(156, 109, 37);
    display: block;
    transition: all 0.2s;
}

footer #links a:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 216, 158);
    box-shadow: 7px 7px 0px 0px rgb(156, 109, 37);
    transition: all 0.2s;
}

#author {
    float: right;
    color: black;
    font-size: 12pt;
    line-height: 1.5;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 8px;
    background-color: rgb(199, 158, 96);
    box-shadow: 5px 5px 0px 0px rgb(156, 109, 37);
    display: block;
}

button {
    border: none;
    justify-items: center;
    width: 80px;
    min-height: 25px;
    padding: 5px;
    margin: 5px;
    background-color: rgb(199, 158, 96);
    transition: all 0.2s;
    border-radius: 8px;
    line-height: 1;
    cursor: pointer;
    user-select: none;

    font-family: 'Encode Sans', sans-serif;
    font-size: 12pt;
}

#answer {
    background-color: rgb(255, 216, 158);
    min-width: 180px;
    min-height: 50px;
    padding: 5px;
    margin: 5px;
    transition: all 0.2s;
    box-shadow: 5px 5px 0px 0px rgb(156, 109, 37);
    border-radius: 8px;
    text-align: center;
    line-height: 3;
}

button:hover {
    background-color: rgb(255, 216, 158);
    transition: all 0.2s;
    box-shadow: 5px 5px 0px 0px rgb(156, 109, 37);
}

@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@300&display=swap');