$borderRadius: 2px;
$font: 'Courier New',
Courier,
monospace;
$colorBackground: #dcf3ff;
$colorBackgroundDark:#baf2ef;
$colorHeadFooter: #a2d2df;

$colorElemnts: #257ca3;
$colorShadow:#396d7c;

$colorPrime:Black;
$colorSecond:White;
$colorThird: Green;

body {

    /*TEST*/
    font-family: $font;
    font-weight: 1000;
    /*TEST*/
    padding: 0;
    margin: 0;
    background-image: radial-gradient($colorBackgroundDark, $colorBackground);
    background-color: $colorBackground;
}

header {
    background-image: linear-gradient($colorHeadFooter 90%, $colorBackground);
    background-color: $colorHeadFooter;
    min-height: 50px;
    padding-top: 15px;
    position: sticky;
    top: 0;
}

nav {}

.navbarButton {
    float: left;
    margin-left: 5px;
    margin-right: 5px;
}

.navbarButton .navLink {
    height: 100%;
    width: 100%;
    text-align: center;
    padding: 8px;
    background-color: $colorBackground;
    border-radius: $borderRadius;
    transition: background-color 0.2s;

}

.navbarButton.active,
.navLink.active {
    background-color: $colorElemnts;
    transition: background-color 0.5s;
    color: white;
}

.navbarButton:hover,
.navLink:hover {
    background-color: $colorShadow;
    color: white;
}

main {

    height: 800px;
    /*TEST*/
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient($colorBackground, $colorHeadFooter 10%);
    background-color: $colorHeadFooter;
    padding-top: 10px;
}

#backLink {
    position: block;
    float: left;

}

#author {
    position: block;
    float: right;

}

#author,
#backLink {
    background-color: aliceblue;
    padding: 5px;
    margin: 5px;
    border-radius: $borderRadius;
    /* change all borders to 2px*/
}

#backLink a:hover,
#backLink:hover {
    background-color: green;
}

#backLink a:active,
#backLink:active {
    background-color: red;
}

button {
    background-color: aliceblue;
    border-radius: $borderRadius;
}

button:hover {
    background-color: green;
}

button:active {
    background-color: red;
}

.hCenter {
    display: block;
    width: fit-content;
    margin: auto;
}

.flexContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flexChild {
    margin: 5px;
    border-radius: $borderRadius;

    /*TEST*/
    min-width: 150px;
    min-height: 150px;

    /*TEST*/
}

/*LINKSTUFF*/
a {
    text-decoration: none;
    color: black;
}

/*mein flexConteiner*/
.heroWrapper {
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    max-width: 1000px;
    background-color: white;
}

.heroWrapper h1 {
    $hight: 100px;

    text-align: center;
    min-height: $hight;
    padding-top: ($hight/2);
    line-height: 1.5;
}

.item {
    background-color: $colorElemnts;
    text-align: center;
    padding: 5px;
    transition: background-color 0.2s;
}

.item .itemLink {
    display: block;
    height: 100%;
    width: 100%;
}

.item:hover {
    background-color: $colorHeadFooter;
    transition: background-color 0.5s;
}