@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Encode+Sans:wght@300&family=Varela+Round&display=swap");
body {
  /*TEST*/
  font-family: "Varela Round", sans-serif;
  font-weight: 1000;
  /*TEST*/
  padding: 0;
  margin: 0;
  background-image: radial-gradient(#baf2ef, #dcf3ff);
  background-color: #dcf3ff;
}

header {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(90%, #a2d2df), to(#dcf3ff));
  background-image: linear-gradient(#a2d2df 90%, #dcf3ff);
  background-color: #a2d2df;
  min-height: 50px;
  padding-top: 15px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

input {
  border: none;
  border-radius: 2px;
  width: 150px;
  -webkit-transition: background-color, 0.5;
  transition: background-color, 0.5;
}

input:focus,
input:active,
option:focus,
textarea:focus,
input:focus {
  border: none;
  outline: none;
  background-color: #f1f1f1;
}

#navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.navbarButton {
  margin-left: 5px;
  margin-right: 5px;
  padding-top: 9px;
  padding-bottom: 9px;
}

.navbarButton .navLink {
  text-align: center;
  padding: 8px;
  background-color: #dcf3ff;
  border-radius: 2px;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

.navbarButton.active,
.navLink.active {
  background-color: #257ca3;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
  color: white;
}

.navbarButton:hover,
.navLink:hover {
  background-color: #396d7c;
  color: white;
}

main {
  height: 800px;
  /*TEST*/
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#dcf3ff), color-stop(10%, #a2d2df));
  background-image: linear-gradient(#dcf3ff, #a2d2df 10%);
  background-color: #a2d2df;
  padding-top: 10px;
}

#backLink {
  position: block;
  float: left;
}

#author {
  position: block;
  float: right;
}

#author,
#backLink {
  background-color: aliceblue;
  padding: 5px;
  margin: 5px;
  border-radius: 2px;
  -webkit-transition: bacground-color, 0.5s;
  transition: bacground-color, 0.5s;
  /* change all borders to 2px*/
}

#backLink a:hover,
#backLink:hover {
  background-color: #257ca3;
  -webkit-transition: bacground-color, 0.2s;
  transition: bacground-color, 0.2s;
}

#backLink a:active,
#backLink:active {
  background-color: #396d7c;
}

button {
  background-color: aliceblue;
  font-family: "Varela Round", sans-serif;
  border-radius: 2px;
  border: none;
  -webkit-transition: bacground-color, 0.2s;
  transition: bacground-color, 0.2s;
}

button:hover {
  background-color: #257ca3;
  color: white;
  -webkit-transition: bacground-color, 0.5s;
  transition: bacground-color, 0.5s;
}

button:active {
  -webkit-transition: bacground-color, 0.1s;
  transition: bacground-color, 0.1s;
  background-image: #396d7c;
}

select {
  font-family: "Varela Round", sans-serif;
  border-radius: 2px;
  border: none;
  width: 150px;
}

label {
  font-family: "Varela Round", sans-serif;
  margin-right: 5px;
}

.wrongInput {
  outline: solid 2px red;
  border-radius: 2px;
}

textarea {
  font-family: "Varela Round", sans-serif;
  border-radius: 2px;
  border: none;
}

.hCenter {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}

.flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flexChild {
  margin: 5px;
  border-radius: 2px;
}

/*LINKSTUFF*/
a {
  text-decoration: none;
  color: black;
}

/*mein conteiner fuer index*/
.heroWrapper {
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  max-width: 1000px;
  background-color: white;
}

.heroWrapper h1 {
  text-align: center;
  min-height: 100px;
  padding-top: 50px;
  line-height: 1.5;
}

.item {
  background-color: #257ca3;
  text-align: center;
  padding: 5px;
  min-width: 150px;
  min-height: 150px;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

.item .itemLink {
  height: 100%;
  width: 100%;
}

.item:hover {
  background-color: #a2d2df;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.item_editRemouve .itemLink,
.item_editRemouve .item_remove {
  font-family: "Varela Round", sans-serif;
  padding-left: 5px;
  padding-right: 5px;
}

/*hinzufüg Seite*/
.inputwrapper {
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
}

.item_pic {
  font-size: 64px;
}

#note {
  width: 350px;
  height: 100px;
  resize: none;
}

#formButtonAdd {
  padding: 5px;
}

/*edit Seite*/
.itemDetails {
  background-color: #a2d2df;
  text-align: center;
  padding: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  min-width: 350px;
}

.textArea_Details {
  background-color: #dcf3ff;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  word-break: break-all;
  max-width: 250px;
  border-radius: .textArea_Details 2px;
}
/*# sourceMappingURL=stylesheet.css.map */