body {
    margin: 0;
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13pt;
}

@media (min-width: 800px) {
    main, footer {
        margin-left: 100px;
        margin-right: 100px;
    }
    #landingField {
        height: 450px;
        background-size: 100%;
    }
    #landingField .landingText {
        letter-spacing: 5px;
        padding-top: calc(450px/2);
    }
    .flexItem img {
        max-width: calc(5px * 100);
    }
    .flexItem video {
        max-width: calc(5px * 100);
    }
}

@media (max-width: 800px) {
    main, footer {
        margin: 0px;
    }
    #landingField {
        height: 300px;
        background-size: 210%;
    }
    #landingField .landingText {
        letter-spacing: 2px;
        padding-top: calc(300px/2);
    }
    .flexItem img {
        width: 90%;
    }
    .flexItem video {
        max-width: 300px;
    }
}

@media (max-width: 1150px) {
    #landingField {
        height: 350px;
    }
    #landingField .landingText {
        letter-spacing: 5px;
        padding-top: calc(350px/2);
    }
}

@media (min-width: 2400px) {
    main, footer {
        margin-left: 500px;
        margin-right: 500px;
    }
}

#landingField {
    width: auto;
    background-image: url(img/chapel-4684650_640.jpg);
    background-color: gray;
    background-size: cover;
    text-align: center;
    color: white;
    margin-bottom: 25px;
    max-height: 600;
    display: block;
    border-radius: 5px;
}

/*testing heropages
#landingField::before {

}
*/
.landingText {
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
    opacity: 1;
    font-size: 30pt;
}

nav {
    padding-top: 5px;
    margin-top: 10px;
    border-radius: 5px;
}

li a {
    padding: 8px 16px;
    background-color: #b5179e;
    border-radius: 3px;
    width: 120px;
    list-style-type: none;
    display: block;
    margin-left: 5px;
    margin-bottom: 5px;
    font-family: 'Zen Kurenaido', sans-serif;
    font-size: 20pt;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    color: white;
}

nav li a:hover {
    background-color: #f72585;
    color: white;
}

li {
    float: left;
}

ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style-type: none;
}

header {
    background-color: #4361EE;
    position: sticky;
    top: 0px;
}

#topNav {
    margin-top: 0px;
}

li a:hover+#inNav {
    opacity: 100;
}

#inNav:hover {
    opacity: 100;
}

#inNav {
    transition: opacity 1s;
    position: absolute;
    opacity: 0;
}

#active {
    background-color: #4895ef;
}

.flexContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px 25px;
    background-color: #4cc9f0;
    border-radius: 5px;
    padding: 5px;
    color: black;
    margin-bottom: 5px;
}

.flexItem {
    max-width: 500px;
}

.flexItem img {
    margin-right: auto;
    margin-left: auto;
    display: block;
}

.flexItem-1 {
    order: 1;
}

.flexItem-2 {
    order: 2;
}

.flexItem-3 {
    order: 3;
}

.flexItem-4 {
    order: 3;
}

p::selection , h1::selection, h2::selection, h3::selection, h4::selection, b::selection{
    background-color: #560bad;
    color: whitesmoke;
}

img{
    border-radius: 5px;
}
.backTop {
    background-color: #b5179e;
    margin-right: auto;
    margin-top: 15px;
    width: 200px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 5px;
    text-align: center;
}

.backTop a {
    font-family: 'Zen Kurenaido', sans-serif;
    font-size: 20pt;
    font-weight: 600;
    text-decoration: none;
    color: white;
    list-style-type: none;
    text-decoration: none;
}

.eventTable {
    background-color: #B5179E;
    border-radius: 5px;
    color: white;
}