body{
    margin: 0;
}
main, footer{
    margin-left: 5px;
    margin-right: 5px;
}
#landingField{
    height: 450px;/* Die gewünschte höhe */
    width: auto;
    background-color: black;
    text-align: center;
    padding-top: 225px;

    color: white;
}
nav{
    padding-top: 5px;
    margin-top: 10px;
}
li a{
    padding: 8px 16px;
    background-color: lightblue;
    border-radius: 3px;
    width: 100px;
    list-style-type: none;
    display: block;
    margin-left: 5px;
    margin-bottom: 5px;

    border-style: solid;
    border-width: 1px;
    border-color: rgb(152, 213, 233);


    font-family: 'Zen Kurenaido', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    color: black;
    
}

li{
    float: left;

}
ul{
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style-type: none;
}

header{
background-color: cyan;
position: sticky;
top: 5px;
}
#topNav{
    margin: 5px;
    margin-top: 0px;
}
li a:hover + #inNav{
   
    opacity: 100;
}
#inNav:hover{
    
    opacity: 100;
}

#inNav{
    transition: opacity 1s;
    position: absolute;
    opacity: 0;
}

#mainText{
    float: none;
}
.backTop{
    background-color: khaki;
    margin-right: auto;
    width: 200px;
    

    padding-top: 8px;
    padding-bottom:8px ;

    border-radius: 5px;
    text-align: center;
}

.backTop a{
 
    font-family: 'Zen Kurenaido', sans-serif;
    font-size: 24px;
    text-decoration: none;
    color: black;
    list-style-type: none;
    text-decoration: none;
}