body{
    margin: 0;
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13pt;
}
@media (min-width: 800px){
    main, footer {
        margin-left: 100px;
        margin-right: 100px;
    }
    #landingField{
       height: 450px;/* Die gewünschte höhe */
        letter-spacing: 5px;
        background-size:100%;
    }
    .flexItem img{
        max-width: 500px;
    }
    .flexItem video{
        max-width: 500px;
    }
}
@media (max-width: 800px){
    main, footer {
        margin:0px;
    }
    #landingField{
        height: 300px;
        letter-spacing: 2px;
        background-size:210%;
     }
     .flexItem img{
         width: 90%;
     }
     .flexItem video{
        max-width: 300px;
    }
}
@media (max-width: 1150px){
    #landingField{
        height: 350px;
        letter-spacing: 2px;
     }
}
@media (min-width: 2400px){
    main, footer {
        margin-left: 500px;
        margin-right: 500px;
    }
}

#landingField{
    width: auto;
    background-image: url(/MainFolder/2_Aufgabe/img/chapel-4684650_640.jpg);
    text-align: center;
    color: white;
    margin-bottom: 25px;
    max-height: 600;
    display: block;
}

nav{
    padding-top: 5px;
    margin-top: 10px;
    border-radius: 5px;
}
li a{
    padding: 8px 16px;
    background-color: lightblue;
    border-radius: 3px;
    width: 120px;
    list-style-type: none;
    display: block;
    margin-left: 5px;
    margin-bottom: 5px;

    font-family: 'Zen Kurenaido', sans-serif;
    font-size: 20pt;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    color: black;
}
nav li a:hover{
    background-color: rgb(13, 105, 96);
    border-color: rgb(13, 105, 96);
    color: whitesmoke;

}
li{
    float: left;
}
ul{
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style-type: none;
}

header{
background-color: cyan;
position: sticky;
top: 5px;
}
#topNav{
    margin-top: 0px;
}
li a:hover + #inNav{
    opacity: 100;
}
#inNav:hover{
    opacity: 100;
}

#inNav{
    transition: opacity 1s;
    position: absolute;
    opacity: 0;
}
#active{
    background-color: rgb(21, 167, 152);
}
.flexContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px 25px;
    background-color: wheat;
    border-radius: 5px;
    padding: 5px;
}
.flexItem{
    max-width: 500px;
}
.flexItem img{
    margin-right: auto;
    margin-left: auto;
    display: block;

}
.flexItem-1{
    order: 1;
}
.flexItem-2{
    order: 2;
}
.flexItem-3{
    order: 3;
}
.flexItem-4{
    order: 3;
}

.backTop{
    background-color: khaki;
    margin-right: auto;
    margin-top: 15px;
    width: 200px;

    padding-top: 8px;
    padding-bottom:8px ;

    border-radius: 5px;
    text-align: center;
}

.backTop a{
    font-family: 'Zen Kurenaido', sans-serif;
    font-size: 20pt;
    text-decoration: none;
    color: black;
    list-style-type: none;
    text-decoration: none;
}
.eventTable{
    background-color: tomato;
    border-radius: 5px;
}